@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #050507;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

.site-title {
  font-size: 6.25rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin: 100px 0;
}
.section-title {
  border-bottom: solid 1px #fff;
  display: inline-block;
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 45px;
}
.wrapper {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
}
.container {
  background: #050507;
  color: #fff;
  text-align: center;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
#mainvisual img {
  width: calc(100% / 3);
  height: 100vh;
  flex-shrink: 0;
  object-fit: cover;
}

/*-------------------------------------------
Information
-------------------------------------------*/
#information {
  margin-bottom: 140px;
}
#information .info-date-en {
  display: block;
  font-size: 1.5rem;
}
#information .info-time-en {
  display: block;
  font-size: 1.125rem;
}
#information .info-place {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 20px 0;
}
#information .info-date-ja {
  font-size: 1.125rem;
}

/*-------------------------------------------
Gallery
-------------------------------------------*/
#gallery {
  margin-bottom: 480px;
}
#gallery .list li {
  margin-bottom: 60px;
}
#gallery .list li img {
  width: 48%;
}
#gallery .list li:nth-child(odd) {
  text-align: left;
}
#gallery .list li:nth-child(even) {
  text-align: right;
}

/*-------------------------------------------
Access
-------------------------------------------*/
#access {
  margin-bottom: 480px;
  position: relative;
  z-index: 20;
}
#access .place {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 20px;
}
#access .address {
  margin-bottom: 20px;
}
#access .contact {
  margin-bottom: 30px;
}
#access .btn {
  border: solid 1px #fff;
  color: #fff;
  display: inline-block;
  padding: 15px 82px;
  transition: 0.3s;
}
#access .btn:hover {
  background-color: #050507;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
#contact {
  margin-bottom: 200px;
  position: relative;
  z-index: 20;
}
#contact .btn {
  width: 400px;
  border: solid 1px #7d7d7d;
  color: #fff;
  display: block;
  padding: 30px 0;
  margin: 0 auto 20px auto;
  position: relative;
  transition: 0.3s;
}
/*
Button Arrow
*/
#contact .btn::before,
#contact .btn::after {
  content: '';
  position: absolute;
  right: -40px;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
#contact .btn::before {
  width: 120px;
  top: 48px;
}
#contact .btn::after {
  width: 15px;
  top: 45px;
  transform: rotate(25deg);
}
#contact .btn:hover {
  opacity: 0.7;
}
#contact .btn:hover::before,
#contact .btn:hover::after {
  right: -50px;
}
